<% include ./partials/header.ejs %>
<div class="profile w-full h-screen bg-zinc-800 text-white pt-1">
    <form id="uploadform"hidden action="/fileupload" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
    </form>
<div class="profdets flex flex-col items-center mt-6">
    <div class="relative">
    <span id="uploadicon" class="absolute w-8 h-8 bottom-0 right-0 rounded-full flex justify-center items-center bg-zinc-200 text-black">
        <i class="ri-pencil-line "></i>
    </span>
    <div class="w-36 h-36 bg-zinc-200 rounded-full overflow-hidden">
        <img class="h-full w-full object-cover object-center" src="/images/uploads/<%= user.profileImage %>" alt="">
    </div>
    </div>
    <h1 class="text-3xl font-semibold text-white"><%=user.fullname %></h1>
    <h3 class="text-xl font-semibold"><%=user.username %></h3>
    <!-- //<a href="/edit" class="px-7 py-3 bg-zinc-700 rounded-full text-xs mt-4 font-semibold">EDit</a> -->
    <a href="/add" class="px-4 py-1 rounded-lg bg-red-600 text-lg font-bold mt-4">Add Post</a>
</div>
<div class="cards flex flex-wrap gap-8 mt-10 bg-red-600">
 <div class="card">
    <div class="w-40 h-36 bg-zinc-200 rounded-md overflow-hidden">
        <% if (user.posts && user.posts.length > 0 && user.posts[0].image) { %>
            <img class="h-full w-full object-cover object-center" src="/images/uploads/<%= user.posts[0].image %>">
        <% } else { %>
            <!-- Handle the case where user.posts or its first element or its image property is undefined -->
            <p>Image not available</p>
        <% } %>
        
    </div>
    <a href="/show/posts" class="inline-block text-xl font-semibold mt-2">Show All Pin</a>
    <h5 class="text-sm font-semibold opacity-80"><%=user.posts.length %>Pins</h5>
</div>
</div>
</div>
<script>
    document.querySelector("#uploadicon").addEventListener("click",function(){
        document.querySelector("#uploadform input").click();
    })
    document.querySelector("#uploadform input").addEventListener("change",function(){
        document.querySelector("#uploadform").submit()
    })
</script>
<% include ./partials/footer.ejs %>